/* Copyright (c) 2009-2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). */
@media (min-width: 768px) and (max-width: 999px) {
	#container .navbar-nav {
		float:none !important;
		margin: 7.5px -15px;
	}

	#container .navbar-nav > li {
		float: none;
	}

	#container .navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#container .collapse {
		display: none !important;
		border-top:1px #e7e7e7 solid;
	}

	#container .collapse, #container .collapsing {
		margin: 0px -15px;
		padding: 0px 15px; 
		border-top:1px #e7e7e7 solid;
	}

	#container .collapse.in {
		display: block !important;
	}

	#container .collapsed {
		display: block;
	}

	#container .navbar-nav.pull-right {
		float:none;
	}

	#container .navbar-toggle {
		display: block;
	}

	.navbar-header {
		float: none;
	}

	#container .container-fluid > .navbar-header {
		margin:0px -15px;
	}

	#container .container-fluid .navbar-brand {
		margin:0;
	}
}

@media (min-width: 1000px) {
	nav.menu-navbar {
		background-color: rgba(255,255,255,0.8);
		box-shadow: -25px -20px 50px -25px #ADD8E6 inset, 0px 0px 5px 4px #adadad;
		border-radius: 0px 0px 5px 5px;
	}

	nav.footer-navbar {
		background:none;
		background-color: rgba(0, 20, 99, 0.8);
		box-shadow: -20px 25px 50px -25px rgba(29, 152, 255, 1) inset, 0px 0px 5px 4px #adadad;
		border-radius: 5px 5px 0px 0px;
		color:#ffffff;
		border:none;
	}

	.nav > li > a {
		padding:5px;
	}
	
	.navbar-brand {
		padding:5px 15px;
		height: 30px;
	}
	
	.navbar-fixed-top,
	.navbar-fixed-top .container-fluid {
		min-height: 30px;
	}

	nav.footer-navbar #footer-navbar > * {
		display: inline-block;
		height: 30px;
		vertical-align: middle;
		line-height: 30px;
		color: #ffffff;
	}

	nav.footer-navbar .navbar-right li {
		margin: 0px 5px;
	}
}

@media (min-width: 1000px) and (max-width: 1279px) {
	.navbar-brand {
		display: none;
	}

	div#center {
		margin-top: 65px !important;
	}
}

xh4,h5,h6,div,p,body,html,input,button { 
	font: normal 12pt Helvetica,Verdana,Arial 
}

body{
	margin:0px;
	padding:0px;
}

#about-labo-admin * {
	text-align: center;
}

table{
	border-collapse: collapse;
}

table.solid{
	border-collapse: collapse;
}

table.solid tr {
	border-style:solid;
	border-width:1px;
}

table.solid td {
	border-style:solid;
	border-width:1px;
}

table.solid th {
	text-align: left;
	font-weight: bolder;
	background-color:rgba(173, 216, 230, 0.2);
}

table.solidtr{
	width: 100%;
	border-collapse: collapse;
}

table.solidtr tr {
	border-style:solid;
	border-width:1px;
}

table.solidtr th {
	text-align: left;
	font-weight: bolder;
	background-color:rgba(173, 216, 230, 0.2);
}

#patientSearchList tfoot td {
	text-align: center;
}

table input[type="text"] {
	width: 98%;
}

table input#patientIdFilter {
	width:15%;
	margin-right: 2px;
}

table input#patientNameFilter {
	width:83%;
}

table.patientinfo td {
	width:160px;
}

table.patientinfo td + td {
	width:inherit;
}

table.patientinfo {
	margin-right: 20px;
}

.patientactions * + * {
	margin-left: 5px;
}

td {
	border-color: black;
	font: normal 12pt Helvetica,Verdana,Arial;
}

.samples {
	width:40%;
}

.samples td {
	padding: 0px 5px;
}

.samples .listicon {
	width:24px;
}

.samples span.listicon {
    font-size: 20pt;
    line-height: 10pt;
    padding: 0px 4px;
    color: rgb(44, 101, 148);
}

.samples .selectionbox {
	margin: 2px -15px 2px 2px;
	z-index: 9;
	position: relative;
}

.samples .sample {
	transition: background-color 1s;
	transition-timing-function: ease-in;
	cursor: pointer;
}

.samples .sample .selectionbox {
	visibility: hidden;
}

.samples .sample:hover {
	transition: background-color 0.5s;
	background-color:rgba(173, 216, 230, 0.7);
}

.samples .sample.selected {
	transition: background-color 1s;
	background-color:rgba(173, 216, 230, 0.5);
}

.samples .sample.selected:hover {
	background-color: transparent;
	transition: background-color 0.3s;
}

.samples .sample.selected .selectionbox, .samples .sample:hover .selectionbox {
	visibility: visible;
}

.samples .sample:hover .selectionbox {
	opacity: 0.5;
}

.tests {
	width: 500px;
	opacity: 0.5;
	transition:opacity 0.5s;
}

.loading {
	position: relative;
	overflow: hidden;
}

.loading:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0%;
	left: 0%;
	background-image: url('../images/basic-ui/refresh62.svg');
	opacity: 0.5;
	background-position: 50% 50%;
	background-size: 20px;
	background-repeat: no-repeat;
	-webkit-animation: rotating-function 1.5s linear infinite;
	-moz-animation: rotating-function 1.5s linear infinite;
	-ms-animation: rotating-function 1.5s linear infinite;
	-o-animation: rotating-function 1.5s linear infinite;
	animation: rotating-function 1.5s linear infinite;
}

#sampleSelect, #testSelect {
	min-height: 110px;
}

#sampleSelect{
	width: 250px;
}

#testSelect{
	width:500px;

	transition:height 2s;
}

#testSelect option:before {
	margin-right: 2px;
	width:12px;
	height:12px;
	display: inline-block;
}

#testSelect .notdone:before {
	content: ' - ';
}

#testSelect .nodate:before {
	content: url('../images/basic-ui/basic17.svg');
}

#testSelect .done:before {
	content: url('../images/basic-ui/eye106.svg');
}

#testSelect .seen:before {
	content: url('../images/basic-ui/basic14.svg');
}

#testSelect .marked:before {
	content: url('../images/basic-ui/bookmark49.svg');
}

h1 { 
	font: normal 16pt Helvetica,Verdana,Arial;
	font-weight: bold;
}

h2 {
	font: normal 14pt Helvetica,Verdana,Arial;
	font-weight: bold;
}

h3 {
	font: normal 14pt Helvetica,Verdana,Arial;
}

img.svg {
	vertical-align: unset;
}

.svg path, .svg circle {
	fill:rgb(44, 101, 148);
}

.svg.edit path, .svg.add path {
	fill: green;
}

.svg.delete path {
	fill: red;
}

a .svg, button .svg {
	height:22px;
	width:22px;
	margin-top: 1px;
}

button[disabled="disabled"] {
	opacity: 0.5;
}

textarea {
	width: 100%;
}

.red {
	color:red;
}

img.block {
	display:block;
}

form {
	margin:0;
}

div, img {
	margin:0;
	padding:0;
	border:0;
}

div#container {
	text-align:left; 
	margin:0px auto;
}

/*-----------------------------------*/

div#top { 
	float:none; 
	position:fixed;
	width: 100%;
	top: 0px;
	z-index: 99;
}

div#top .center {
	background-color: rgba(255,255,255,0.8);
	box-shadow: -25px -20px 50px -25px #ADD8E6 inset, 0px 0px 5px 4px #adadad;
	border-radius: 0px 0px 5px 5px;
	margin: 0px auto;
	width: 99%;
	z-index: 99;
	position: relative;
}

div#center {
	clear: left;
	margin: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

/*-----------------------------------*/

.menu-element {
	transition:background 0.25s ease-in-out;
	border-left: 1px solid #8799FF;
	border-right: 1px solid #8799FF;
}

.menu-element + .menu-element {
	border-left: 0px;
}

.navbar-right .menu-element + .menu-element {
	border-left: 1px solid #8799FF;
	border-right: 0px;
}

.menu-element:hover, .menu-element.active {
	background-color:#ADD8E6;
}

.navbar-default .navbar-nav > li > a {
	color:black;
}

.navbar-default .navbar-nav > .menu-element.active > a {
	background-color: transparent;
}

.navbar .divider {
	display: none;
}

.navbar-fixed-bottom,
.navbar-fixed-bottom .container-fluid {
	min-height: 30px;
}

nav.footer-navbar #footer-navbar * {
	color: #ffffff;
}

nav.footer-navbar .navbar-nav button {
	background:none;
	border:none;
	margin:0px;
	padding:0px;
}

@media (max-width: 999px) {
	div#center {
		margin-top: 60px !important;
	}

	.navbar .divider {
		display: block;
		height: 1px;
		margin: 9px 0;
		overflow: hidden;
		background-color: #e5e5e5;
	}

	.menu-element, .navbar-right .menu-element + .menu-element {
		border:none;
	}

	.tests, .samples, #testSelect, #sampleSelect {
		width: 100%;
	}

	nav.footer-navbar #footer-navbar form {
		margin-left: 0px;
	}
	nav.footer-navbar #footer-navbar .versioninfo {
		margin-left: 15px;
	}

	.navbar-fixed-bottom {
		background: none;
		border-top:none;
	}
	
	.navbar-fixed-bottom .navbar-toggle {
		padding:6px 2px;
		margin:2px;
		margin-bottom:-30px;
		transition:margin 0.5s;
	}
	
	.navbar-fixed-bottom .navbar-toggle.collapsed {
		margin-bottom:2px;
	}
	
	.navbar-fixed-bottom .navbar-collapse {
		background-color: #004163;
	}
	
	.navbar-fixed-bottom .navbar-header button.navbar-toggle, .navbar-fixed-bottom .navbar-header button.navbar-toggle:hover {
		background-color: #004163;
	}
}

.menu-element a {
	line-height: 24px;
}

.menu-element .svg {
	height:20px;
	width:20px;
	padding:2px 0px;
	float:left;
	margin-right: 4px;
}


a.icon-button, button.icon-button {
	padding:2px 4px;
}

td a.icon-button, td button.icon-button {
	padding:0px 2px;
	opacity: 1;
}

tr:not(:hover) a.icon-button, tr:not(:hover) button.icon-button {
	border-color: transparent;
	background: transparent;
	opacity: 0.3;
}

a.subicon, button.subicon {
	position: relative;
}

a.subicon .svg, button.subicon .svg {
	margin-left:5px;
}

a.subicon .svg+.svg, button.subicon .svg+.svg {
	margin-left:0px;
	position: absolute;
	top: 15px;
	left: 0px;
	width: 12px !important;
	height: 12px !important;
	background-color: rgba(255,255,255,0.8);
	border-radius: 2px;
}

a.subicon .svg+.svg path, button.subicon .svg+.svg path {
	fill:green;
}

.defaultButton, input[type="submit"].defaultButton, button.defaultButton {
	background-color:rgba(173, 216, 230, 0.2);
}

.dropdown-menu .svg {
	width:22px;
	height:22px;
}

.dropdown-menu li {
	margin:0px;
}

input[type="text"], input[type="date"] {
	line-height: 25px;
}

/* ----- */
dt {
	clear:both;
	float:left;
	width:450px;
}

dt:before {
	content:"\25CF";
	padding-right: 5px;
}

dl:after {
	content:'';
	display: block;
	clear:both;
}

dd, dt {
	margin: 5px 0px;
}

li {
	margin: 12px;
}

nav li {
	margin:0px;
}

.float {
	float:left;
}

.float:after {
	content: '';
	display: block;
	clear: both;
}

.float-right { 
	float:right; 
}

.clear {
	clear:both;
}

/* ----- */

div.checkbox {
	font-size: 11pt;
	border:none;
	padding: 2px 4px;
	border-radius:3px;
	background: transparent;
	cursor:pointer;

	transition:background 0.25s ease-in-out;
}

div.checkbox, div.checkbox+div.checkbox {
	margin:0px 2px;
}

button.checkbox {
	margin:0px;
}

.checkbox input {
	cursor:pointer;
	position: inherit !important;
	margin:0px !important;
}

form[name="tests"] .checkbox input[type="checkbox"] {
	position: inherit;
	margin-left: 0px;
}

.result.has-warning input {
	background-image: url('../images/star.svg');
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

div.checkbox:hover, div.checkbox.highlighted, div.checkbox.blurred {
	background-color:#ADD8E6;
}

div.specialCheckbox {
	border: 1px solid #8799FF;
}

div.checkbox.checked {
	background: rgb(173, 236, 173);
}

.checkbox.disabled, .checkbox.blurred {
	opacity: 0.5;
}

.calculatedCheckbox:before {
	content: '→ ';
}

#deactivateblocker {
	display: inline-block;
}

@media (min-width: 992px) {
	.urines .checkbox {
		clear:both;
		display: block;
		float:left;
		margin-bottom: 5px;
	}
}

.demomessage {
	box-shadow: -25px -20px 50px -25px #ADD8E6 inset, 0px 0px 5px 4px #adadad;
	margin: 0px auto;
	width: 80%;
	z-index: 80;
	position: absolute;
	top: 40px;
	left: 10%;
}

.versioninfo, .credits {
	opacity: 0.5;
}

.footerless.versioninfo, .footerless.credits {
	margin:5px;
}

#center.footerless {
	margin-bottom: 10px;
}

span.done-false, span.seen-false, span.marked-false {
    display: none;
}

span.done-true.seen-false.marked-true.all {
    display: inline;
}

span.done-true.seen-true.marked-true {
    display: none;
}

span.done-false.seen-false.marked-false.all-false {
    display: inline;
}