{# Copyright (c) 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
{% extends 'layout.twig' %}

{% block page_title %}{% trans "Credits" %}{% endblock %}
{% block content %}
<h1>
	<a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#about-labo-admin">{% trans "About labo-admin" %}</a>
</h1>
{% set ccby3 = '<a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">' ~ ("CC BY 3.0"|trans) ~ '</a>' %}
{% set mit = '<a href="https://tldrlegal.com/license/mit-license#summary" target="_blank">' ~ ("MIT License"|trans) ~ '</a> (<a href="https://tldrlegal.com/license/mit-license#fulltext" target="_blank">'~("fulltext"|trans) ~ '</a>)' %}
{% set bsd3 = '<a href="https://tldrlegal.com/license/bsd-3-clause-license-(revised)#summary" target="_blank">' ~ ("BSD 3-Clause License (Revised)"|trans) ~ '</a> (<a href="https://tldrlegal.com/license/bsd-3-clause-license-(revised)#fulltext" target="_blank">'~("fulltext"|trans) ~ '</a>)' %}
{% set lgpl21 = '<a href="https://tldrlegal.com/license/gnu-lesser-general-public-license-v2.1-(lgpl-2.1)#summary" target="_blank">' ~ ("LGPL 2.1"|trans) ~'</a> (<a href="https://tldrlegal.com/license/gnu-lesser-general-public-license-v2.1-(lgpl-2.1)#fulltext">'~("fulltext"|trans)~'</a>)' %}
{% set lgpl30 = '<a href="https://tldrlegal.com/license/gnu-lesser-general-public-license-v3-(lgpl-3)#summary" target="_blank">'~("LGPL 3.0"|trans)~'</a> (<a href="https://tldrlegal.com/license/gnu-lesser-general-public-license-v3-(lgpl-3)#fulltext">'~("fulltext"|trans)~'</a>)' %}
{% set apache20 = '<a href="https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)#summary" target="_blank">'~("Apache License 2.0"|trans)~'</a> (<a href="https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)#fulltext" target="_blank">'~("fulltext"|trans)~'</a>)' %}

<h1>{% trans "Credits" %}</h1>
	<h2>{% trans "Icons" %}</h2>
	<ul>
		{% set freepik = '<a href="http://www.flaticon.com/authors/freepik" target="_blank">freepik</a>' %}
		<li>
			{% set package = '<a href="http://www.flaticon.com/packs/medical-icons" target="_blank">medical icons</a>' %}
			{% set author = freepik %}
			{% set license = ccby3 %}
			{% trans %}
				{{package}} by {{author}} is licensed under {{license}}
			{% endtrans %}
		</li>
		<li>
			{% set package = '<a href="http://www.flaticon.com/packs/basic-ui" target="_blank">basic ui</a>' %}
			{% set author = freepik %}
			{% set license = ccby3 %}
			{% trans %}
				{{package}} by {{author}} is licensed under {{license}}
			{% endtrans %}
		</li>
		<li>
			{% set package = '<a href="http://www.flaticon.com/packs/lodgicons" target="_blank">lodgicons</a>' %}
			{% set author = freepik %}
			{% set license = ccby3 %}
			{% trans %}
				{{package}} by {{author}} is licensed under {{license}}
			{% endtrans %}
		</li>
		<li>
			{% set package = '<a href="http://www.flaticon.com/packs/file-formats-icons" target="_blank">file formats icons</a>' %}
			{% set author = freepik %}
			{% set license = ccby3 %}
			{% trans %}
				{{package}} by {{author}} is licensed under {{license}}
			{% endtrans %}
		</li>
	</ul>
	<h2>{% trans "PHP Libraries" %}</h2>
	<ul>
		<li>
			<strong>
				{% set package = ("Dependency Manager for PHP"|trans) ~ ' <a href="https://getcomposer.org/" target="_blank">Composer</a>' %}
				{% set author1 = '<a href="http://naderman.de/" target="_blank">Nils Adermann</a>' %}
				{% set author2 = '<a href="http://nelm.io/jordi" target="_blank">Jordi Boggiano</a>' %}
				{% set license = mit %}
				{% trans %}
					{{package}} by {{author1}} and {{author2}} is licensed under the {{license}}
				{% endtrans %}
			</strong>
		</li>
		<li>
			<strong>
				{% set package = '<a href="https://www.slimframework.com/" target="_blank">Slim</a>' %}
				{% set author = '<a href="https://github.com/orgs/slimphp/people" target="_blank">the Slim Framework Team</a>' %}
				{% set license = mit %}
				{% trans %}
					{{package}} by {{author}} is licensed under the {{license}}
				{% endtrans %}
			</strong><br>
			{% set linkstart = '<a href="https://packagist.org/packages/slim/slim" target="_blank">' %}
			{% set linkend = '</a>' %}
			{% trans %}
				For more information about it's dependencies see {{linkstart}}the package information{{linkend}}.
			{% endtrans %}<br>
			<strong>{% trans "Used Plugins" %}:</strong>
			<ul>
				<li>
					{% set package = '<a href="https://github.com/codeguy/Slim-Logger" target="_blank">Slim-Logger</a>' %}
					{% set linkstart = '<a href="https://packagist.org/packages/slim/logger">' %}
					{% set linkend = '</a>' %}
					{% set author = '<a href="https://github.com/codeguy">Josh Lockhart</a>' %}
					{% set license = mit %}
					{% trans %}
						{{package}} ({{linkstart}}package information{{linkend}}) by {{author}} is licensed under the {{license}}
					{% endtrans %}
				</li>
				<li>
					{% set package = '<a href="https://github.com/slimphp/Twig-View">Slim Framework Twig View</a>' %}
					{% set linkstart = '<a href="https://packagist.org/packages/slim/twig-view">' %}
					{% set linkend = '</a>' %}
					{% set author = '<a href="https://github.com/codeguy">Josh Lockhart</a>' %}
					{% set otherpackage = 'Twig' %}
					{% set license = mit %}
					{% trans %}
						{{package}} ({{linkstart}}package information{{linkend}}) by {{author}} is licensed under the {{license}} and based on {{otherpackage}} (see below)
					{% endtrans %}
				</li>
			</ul>
		</li>
		<li>
			<strong>
				{% set package = '<a href="https://twig.symfony.com/" target="_blank">Twig</a>' %}
				{% set author = '<a href="http://fabien.potencier.org/" target="_blank">Fabien Potencier</a>' %}
				{% set otherpackage = '<a href="https://symfony.com/">'~("the Symfony framework"|trans)~'</a>' %}
				{% set license = bsd3 %}
				{% trans %}
					{{package}} by {{author}} (creator of {{otherpackage}}) is licensed under the {{license}}
				{% endtrans %}
			</strong><br>
			{% set linkstart = '<a href="https://packagist.org/packages/twig/twig" target="_blank">' %}
			{% set linkend = '</a>' %}
			{% trans %}
				For more information about it's dependencies see {{linkstart}}the package information{{linkend}}.
			{% endtrans %}<br>
			<strong>{% trans "Used Plugins" %}:</strong>
			<ul>
				<li>
					{% set package = '<a href="https://github.com/twigphp/Twig-extensions" target="_blank">Twig Extensions Repository</a>' %}
					{% set linkstart = '<a href="https://packagist.org/packages/twig/extensions" target="_blank">' %}
					{% set linkend = '</a>' %}
					{% set author = '<a href="http://fabien.potencier.org/" target="_blank">Fabien Potencier</a>' %}
					{% set license = mit %}
					{% trans %}
						{{package}} ({{linkstart}}package information{{linkend}}) by {{author}} is licensed under the {{license}}
					{% endtrans %}
				</li>
			</ul>
		</li>
		<li>
			<strong>
				{% set package = '<a href="https://github.com/doctrine/doctrine2" target="_">Doctrine</a>' %}
				{% set author = '<a href="https://www.doctrine-project.org/team/" target="_blank">' ~ ("the Doctrine Team"|trans) ~'</a>' %}
				{% set license = mit %}
				{% trans %}
					{{package}} by {{author}} is licensed under the {{license}}
				{% endtrans %}
			</strong><br>
			{% set linkstart = '<a href="https://packagist.org/packages/doctrine/orm" target="_blank">' %}
			{% set linkend = '</a>' %}
			{% trans %}
				For more information about it's dependencies see {{linkstart}}the package information{{linkend}}.
			{% endtrans %}
		</li>
		<li>
			<strong>
				{% set package = '<a href="https://github.com/dflydev/dflydev-fig-cookies" target="_blank">FIG Cookies</a>' %}
				{% set author = '<a href="https://github.com/dflydev" target="_blank">Beau Simensen</a>' %}
				{% set license = mit %}
				{% trans %}
					{{package}} by {{author}} is licensed under the {{license}}
				{% endtrans %}
			</strong><br>
			{% set linkstart = '<a href="https://packagist.org/packages/dflydev/fig-cookies" target="_blank">' %}
			{% set linkend = '</a>' %}
			{% trans %}
				For more information about it's dependencies see {{linkstart}}the package information{{linkend}}.
			{% endtrans %}
		</li>
		<li>
			<strong>
				{% set package = '<a href="https://github.com/jlawrence11/eos" target="_blank">EOS (Equation Operating System)</a>' %}
				{% set author = '<a href="https://github.com/jlawrence11" target="_blank">Jon Lawrence</a>' %}
				{% set license = lgpl21 %}
				{% trans %}
					{{package}} by {{author}} is licensed under {{license}}
				{% endtrans %}
			</strong><br>
			{% set linkstart = '<a href="https://packagist.org/packages/jlawrence/eos" target="_blank">' %}
			{% set linkend = '</a>' %}
			{% trans %}
				For more information about it's dependencies see {{linkstart}}the package information{{linkend}}.
			{% endtrans %}
		</li>
		<li>

			<strong>
				{% set package = '<a href="https://github.com/tecnickcom/TCPDF" target="_blank">TCPDF</a>' %}
				{% set author = '<a href="https://github.com/tecnickcom">Nicola Asuni</a>' %}
				{% set license = lgpl30 %}
				{% trans %}
					{{package}} by {{author}} is licensed under {{license}}
				{% endtrans %}
			</strong><br>
			{% set linkstart = '<a href="https://packagist.org/packages/tecnickcom/tcpdf">' %}
			{% set linkend = '</a>' %}
			{% trans %}
				For more information about it's dependencies see {{linkstart}}the package information{{linkend}}.
			{% endtrans %}
		</li>
	</ul>
	<h2>{% trans "Javascript Libraries" %}</h2>
	<ul>
		<li>
			{% set package = '<a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>' %}
			{% set author = '<a href="https://twitter.com/" target="_blank">Twitter, Inc</a>' %}
			{% set license = mit %}
			{% trans %}
				{{package}} by {{author}} is licensed under the {{license}}
			{% endtrans %}
		</li>
		<li>
			{% set package = '<a href="http://jquery.com/" target="_blank">jQuery (jQuery Core)</a>' %}
			{% set author = '<a href="https://jquery.org/team/" target="_blank">The jQuery Foundation</a>' %}
			{% set license = mit %}
			{% trans %}
				{{package}} by {{author}} is licensed under the {{license}}
			{% endtrans %}
			<ul>
				<li>
					{% set package = '<a href="http://jqueryui.com/" target="_blank">jQuery UI</a>' %}
					{% set author = '<a href="https://jquery.org/team/" target="_blank">The jQuery Foundation</a>' %}
					{% set license = mit %}
					{% trans %}
						{{package}} by {{author}} is licensed under the {{license}}
					{% endtrans %}
				</li>
				<li>
					{% set package = '<a href="http://plugins.jquery.com/cookie/" target="_blank">jQuery Cookie</a>' %}
					{% set author = '<a href="https://github.com/carhartl" target="_blank">Klaus Hartl</a>' %}
					{% set license = mit %}
					{% trans %}
						{{package}} by {{author}} is licensed under the {{license}}
					{% endtrans %}
				</li>
			</ul>
		</li>
		<li>
			{% set package = '<a href="http://mathjs.org/" target="_blank">math.js</a>' %}
			{% set author = '<a href="https://github.com/josdejong" target="_blank">jos de jong</a>' %}
			{% set license = apache20 %}
			{% trans %}
				{{package}} by {{author}} is licensed under the {{license}}
			{% endtrans %}
		</li>
	</ul>
	{% endblock %}