{# Copyright (c) 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{config.get('general.projectitle')}}{% if config.get('general.projectitle') != '' %}: {%endif%}{% trans "Datasheet" %}</title>
  <base href="/" />

  <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
  <script src="js/libs/jquery-3.3.1.min.js"></script>
  <script src="js/libs/jquery-ui.min.js"></script>
  <script src="js/libs/jquery.cookie.js"></script>
  <style type="text/css">table.results {
    width:18cm;
    border-style:double;
    border-color:#000000;
    border-collapse:collapse;
  }

  div.normals {
    float:right;
    font-size: small;
  }

  table.results td {
    border-style:solid;
    border-width:2px;
    border-color:#000000;
    font-size:11pt;
  }

  table.results tr {
    border-color:#000000;
  }

  div.resultdiv {
    text-align:right;
    font-size:10pt;
    overflow:visible;
    scroll:no;
    width:55px;
    height:18px;
  }

  .printSwitchContainer {
    position: relative;
  }

  .printSwitch {
    position: absolute;
    top:0px;
  }

  .notprint {
    z-index: 10;
  }

  @media print {
    .printSwitchContainer {
      position: inherit;
    }

    .notprint {
      display: none;
    }

    .printSwitch {
      position: inherit;
      top:inherit;
    }
  }</style>
  <script type="text/javascript">function selectDoctor(selectelem) {
    var selectedOption = $('.docaddrSelect option[value="'+ ($(selectelem).val()) +'"]'); 
    var addr = selectedOption.attr('data-address');
    $('.docaddr').html(addr.nl2br());
    $.cookie("usingDoctor", selectedOption.val(),{ expires : 30000, path: "/" })
  }
  String.prototype.nl2br = function()
  {
    return this.replace(/\n/g, "<br />");
  }
</script>
</head>
{% set pages = (((samples|length)/8)|round(0, 'ceil')) %}
{% for page in 0..(pages-1) %}
{% if page > 0 %}
<div style="page-break-after: always;"></div>
{% endif %}
{% for block in layout %}
  {% if block.type == "header" %}
  <table style="width:18cm;">
    <tr>
      <td rowspan="3" style="vertical-align:top; width:8cm; font-size:10pt;">
        <div class="printSwitchContainer">
          <div class="printSwitch notprint">
            {% if page == 0 %}
            <select class="docaddrSelect" onchange="selectDoctor(this)">
              {% for address in addresses %}
                <option data-address="{{address.text}}" value="{{loop.index0}}" {% if loop.index0 == usingDoctor %}selected="selected"{% endif %}>{{address.doctor}}</option>
              {% endfor %}
            </select>
            {% endif %}
          </div>
          <div class="docaddr">{{addresses[usingDoctor].text|nl2br}}</div>
        </div>
      </td>
      <td style="width:6cm; height:30px;">{% trans "Patient:"%} {{patient.name}}</td>
      <td style="width:1cm; font-family:'Tahoma'; font-weight:bold; font-size:12pt;">{% trans "No:" %}</td>
      <td>{{patient.id}}</td>
    </tr>
    <tr>
      <td colspan="3">{% trans "Birthdate:" %}{% if patient.birthdate %}{{patient.birthdate|date(config.get('general.dateformat.text'))}}{% endif %}</td>
    </tr>
    <tr>
      <td colspan="3" style="font-family:'Times New Roman'; font-weight:bold; text-decoration:underline; font-size:12pt;">{% trans "Labor tests" %}</td>
    </tr>
  </table>
  {% elseif block.type == "table" %}
  <div style="font-family:'Times New Roman'; font-weight:bold; text-decoration:underline; font-size:14pt; margin-top:5px; margin-bottom:5px;">{{block.title}}</div>
  <table class="results">
    {% if not block.hideDates %}
    <tr style="border-style:double;">
      <td style="border-right-style:double; border-right-width:3px; width:4.4cm" align="middle">
        <strong>{% trans "Date" %}</strong>
      </td>
      {% for resultnr in 0..7 %}
      {% if (samples|length) > (page*8+resultnr) %}
        {% set sample = samples[(page*8+resultnr)] %}
      {% else %}
        {% set sample = null %}
      {% endif %}
      <td>
        <div class="resultdiv">{% if sample and sample.date %}{{sample.date|date(config.get('general.dateformat.list'))}}{% endif %}</div>
      </td>
      {% endfor %}
    </tr>
    {% endif %}
    {% for element in block.elements %}
      {% if element.id %}
        {% set testtype = testtypes[element.id] %}
      {% else %}
        {% set testtype = null %}
      {% endif %}
      {% if element.type == "spacer" or element.type == "label" %}
      <tr style="{% if element.borderBottomWidth %}border-bottom-width:{{element.borderBottomWidth}};{% endif %} {% if element.borderBottomStyle %}border-bottom-style:{{element.borderBottomStyle}};{% endif %}">
        <td style="border-right-style:double; border-right-width:3px;"><strong>{{element.text}}</strong>&nbsp;</td>
        {% for i in 0..7 %}
        <td></td>
        {% endfor %}
      </tr>
      {% else %}
      <tr style="{% if element.borderBottomWidth %}border-bottom-width:{{element.borderBottomWidth}};{% endif %} {% if element.borderBottomStyle %}border-bottom-style:{{element.borderBottomStyle}};{% endif %}">
        <td style="border-right-style:double; border-right-width:3px;
          {% if block.hideDates and loop.index0==0 %}border-right-style:double; border-right-width:3px; width:4.4cm{% endif %}
        ">{% if testtype.name %}
            {{testtype.name}}
          {% else %}
            {{element.id}}
          {% endif %}
          <div class="normals">{{testtype.getNormalsTextFor(patient)}} {{testtype.unit}}</div>
        </td>
        {% for resultnr in 0..7 %}
          {% if (samples|length) > (page*8+resultnr) %}
            {% set sample = samples[(page*8+resultnr)] %}
            {% if element.id and sample %}
              {% set test = sample.getTestByTypeId(element.id) %}
            {% else %}
              {% set test = null %}
            {% endif %}
          {% else %}
            {% set sample = null %}
            {% set test = null %}
          {% endif %}
          <td>
            {% if testtype.type == "calculated" %}
            <div class="resultdiv">
              {% if sample %}
                {% set values = sample.getTestValuesForArray(testtype.depends) %}
                {% if (testtype.depends|length) == (values|length) %}
                  {{ solve(testtype.formula, sample.getTestValuesForArray(testtype.depends)) }}
                {% endif %}
              {% endif %}
            </div>
            {% else %}
            <div class="resultdiv">{% if test %}{{test.value}}{% endif %}</div>
            {% endif %}
          </td>
        {% endfor %}
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  <br/>
  {% elseif block.type == "pagebreak" %}
  <div style="page-break-after: always;"></div>
  {% endif %}
{% endfor %}
{% endfor %}
</body>
</html>
