{# Copyright (c) 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
{% extends 'layout.twig' %}
{% block page_title %}{% trans "Tasks" %}{% endblock %}
{% block scripts %}
	<script src="js/patientSearch.js"></script>
	<script type="text/template" data-template="patientSearchListItem">
		<tr>
			<td><a href="/patient/${id}">${id}</a></td>
			<td><a href="/patient/${id}">${name}</a></td>
			<td><a href="/patient/${id}">${birthdate}</a></td>
			<td><a href="/patient/${id}">${gender}</a></td>
			<td><a href="/patient/${id}">${diabetes}</a></td>
			<td>
				<a href="/patient/${id}" class="btn btn-primary" role="button">{% trans "Go to patient page" %}</a>
				<a href="/patient/${id}/sample/new" class="btn btn-default" role="button">{% trans "Create new sample" %}</a>
			</td>
		</tr>
	</script>
	<script type="text/template" data-template="patientSearchListEmpty">
		<tr>
			<td colspan="6">{% trans "Nothing found!" %}</td>
		</tr>
	</script>
	<script type="text/template" data-template="patientInfoGenderMale">{% trans "♂(m)" %}</script>
	<script type="text/template" data-template="patientInfoGenderFemale">{% trans "♀(f)" %}</script>
	<script type="text/template" data-template="patientInfoHasNotDiabetes"></script>
	<script type="text/template" data-template="patientInfoHasDiabetes">{% trans "Yes" %}</script>
{% endblock %}
{% block content %}
	<p>{% trans "Search patient" %}:
		<input type="text" id="patientSearch" name="patientsearch" list="patientSearchList" autocomplete="off" onkeyup="searchPatients(event)" />
	</p>
	<table id="patientSearchList" class="solidtr">
		<thead>
			<tr>
				<th>{% trans "Patient ID" %}</th>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Birthdate" %}</th>
				<th>{% trans "Gender" %}</th>
				<th>{% trans "Diabetes" %}</th>
				<th>{% trans "Actions" %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="6">{% trans "No search started yet." %}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6"><a href="/patient/new" class="btn btn-default" role="button">{% trans "Create new patient" %}</a></td>
		</tfoot>
	</table>
{% endblock %}