{# Copyright (c) 2014 - 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		{% set _pageTitle = block('page_title') ?? '' %}
		{% set _projectTitle = config.get('general.projectitle', '') %}
		<title>{{_pageTitle}}{% if _pageTitle is not empty and _projectTitle is not empty %} | {% endif %}{{_projectTitle}}</title>
		<base href="/" />
		
		{% block meta %} {% endblock %}

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/libs/jquery-3.3.1.min.js"></script>
		<script src="js/libs/jquery-ui.min.js"></script>
		<script src="js/libs/jquery.cookie.js"></script>
		<script src="js/libs/bootstrap.min.js"></script>
		<script src="js/main.js"></script>


		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		{% block stylesheets %} {% endblock %}
		
		{% block scripts %} {% endblock %}
	</head>
	<body>
		<div id="container">
			{% if menu is defined %}
			{% if menu %}
			<nav class="navbar navbar-default navbar-fixed-top menu-navbar" role="navigation">
				<div class="menu container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" ondblclick="$('#about-labo-admin').modal('toggle');">labo-admin</a>
					</div>
					<div class="collapse navbar-collapse" id="menu-navbar">
						<ul class="nav navbar-nav">
							{% for link in menu.left %}
							<li class="menu-element">
								<a href="{{link.href}}">
									{% if link.icon %}
									<img class="svg" src="{{link.icon}}">
									{% endif %}
									<span>{{link.text}}</span>
								{% if link.count %}
									<span class="badge">{{link.count}}</span>
								{% endif %}
								</a>
							</li>
							{% endfor %}
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="menu-element divider"></li>
							{% for link in menu.right %}
							<li class="menu-element">
								<a href="{{link.href}}">
									{% if link.icon %}
									<img class="svg" src="{{link.icon}}">
									{% endif %}
									<span>{{link.text}}</span>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</nav>
			{% endif %}
			{% endif %}

			{% if config.get('layout.demo','false') == 'true' and hidedemoalert != true %}
			<div class="alert alert-info alert-dismissible demomessage" role="alert">
				<button type="button" class="close" data-dismiss="alert" onclick="$.cookie('hidedemoalert', true, {'path': '/'});"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{"This labo-admin instance is only for demonstration. It might be in an unfinished state and probably will differ from the next release!
Please keep in mind, that any entered information can be viewed publicly!" | trans | nl2br }}
			</div>
			{% endif %}

			<div id="center">
				{% block content %} {% endblock %}
			</div>


			{% if footer is defined	%}
			{% if footer %}
			<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse footer-navbar" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer-navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="footer-navbar">
						<div class="nav navbar-nav">
							{% for link in footer.left %}
							<li class="menu-element"><a {% if link.href %}href="{{link.href}}"{% endif %}><span>{{link.text}}</span></a></li>
							{% endfor %}
						</div>
						<ul class="nav navbar-nav navbar-right">
							{% for link in footer.right %}
							<li class="{{link.class}}"><a {% if link.href %}href="{{link.href}}"{% endif %}><span>{{link.text}}</span></a></li>
							{% endfor %}
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
			{% endif %}
			{% endif %}
		</div>

    	<div class="modal fade" id="about-labo-admin" tabindex="-1" role="dialog" aria-labelledby="about-labo-adminLabel" aria-hidden="true">
    	  <div class="modal-dialog">
    	    <div class="modal-content">
    	      <div class="modal-header">
    	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    	        <h4 class="modal-title" id="about-labo-adminLabel">{% trans "About" %}</h4>
    	      </div>
    	      <div class="modal-body">
    	        <div class="jumbotron">
    	          <h1>labo-admin<small>{{versionString}}</small></h1>
    	          <p>{% trans "Copyright ⓒ 2018 Rolf Michael Bislin" %}<br/>
    	            {% trans "alias romibi" %} (<a href="http://romibi.ch/" target="_blank">http://romibi.ch/</a>)</p>
    	          <p>{% trans "Published under" %} <a href="https://tldrlegal.com/l/mit" target="_blank">{% trans "the MIT License (MIT)" %}</a></p>
    	          <p><a class="btn btn-primary btn-lg" style="opacity:0.5;" href="#" role="button" title="not aviable yet">{% trans "Go to the Project Site" %}</a></p>
    	        </div>
    	        <div>{% trans "For information about used libraries & images see:" %} <a href="credits">{% trans "Credits" %}</a></div>
    	      </div>
    	      <div class="modal-footer">
    	        <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
    	      </div>
    	    </div>
    	  </div>
    	</div>
		{% block modals %} {% endblock %}
	</body>
</html>