{# Copyright (c) 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
{% extends 'layout.twig' %}
{% block page_title %}{% if not patient %}{% trans "Create new patient" %}{% else %}{% trans "Edit patient" %}{% endif %}{% endblock %}

{% block scripts %}
	<script src="js/patientSave.js"></script>
{% endblock %}

{% block content %}
	<table class="patientinfo">
		<tbody>
			<tr>
				<td>{% trans "Patient ID" %}</td>
				<td>
				{% if patient.id %}
					<input name="id" value="{{patient.id}}" readonly="true" data-isNew="false"/>
					<input name="version" type="hidden" value="{{patient.version}}" />
				{% else %}
					<input name="id" value="{{patient.id}}" data-isNew="true"/>
				{% endif %}
				</td>
			</tr>
			<tr>
				<td>{% trans "Name of patient" %}</td>
				<td>
					<input name="name" value="{{patient.name}}" data-value-unchanged="{{patient.name}}" /></td>
			</tr>
			<tr>
				<td>{% trans "Birthdate" %}</td>
				<td><input type="date" name="birthdate" value="{% if patient.birthdate %}{{patient.birthdate|date('Y-m-d')}}{% endif %}" data-value-unchanged="{% if patient.birthdate %}{{patient.birthdate|date('Y-m-d')}}{% endif %}"/></td>
			</tr>
			<tr>
				<td>{% trans "Gender" %}</td>
				<td>
					<select name="gender" data-value-unchanged="{{patient.gender}}">
						<option value{% if patient.gender is empty %} selected="selected"{% endif %}>-</option>
						<option value="m"{% if patient.gender == "m" %} selected="selected"{% endif %}>{% trans "♂(m)" %}</option>
						<option value="f"{% if patient.gender == "f" %} selected="selected"{% endif %}>{% trans "♀(f)" %}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>{% trans "Has the patient diabetes?" %}</td>
				<td><input type="checkbox" name="diabetes" {% if patient.diabetes %} checked="checked"{% endif %} data-value-unchanged="{{patient.diabetes}}"></td>
			</tr>
		</tbody>
	</table>
	<div class="patientactions">
		<button id="saveButton" class="btn btn-success" onclick="patientSave()">{% trans "Save" %}</button>
		{% if patient.id %}
		<a href="/patient/{{patient.id}}" type="button" class="btn btn-default">{% trans "Abort" %}</a>
		{% else %}
		<a href="/" type="button" class="btn btn-default">{% trans "Abort" %}</a>
		{% endif %}
	</div>
{% endblock %}


{% block modals %}
<div class="modal" tabindex="-1" role="dialog" id="saveFailedPopup">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{% trans "Saving the patient info failed" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "Something went wrong when saving the patient info" %}</p>
			</div>
			<div class="modal-footer">
				<a href="/patient/{{patient.id}}/edit" type="button" class="btn btn-primary">{% trans "Reload" %}</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}