{# Copyright (c) 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
{% extends 'layout.twig' %}
{% block page_title %}{% trans "Patient" %} {{patient.id}} ({{patient.name}}){% endblock %}

{% block scripts %}
	<script src="js/patientOverview.js"></script>
	<script type="text/template" data-template="sampleInfo">
		<table>
			<tr>
				<td>{% trans "Date" %}:</td>
				<td>${date}</td>
			</tr>
			<tr>
				<td>{% trans "Comment" %}:</td>
				<td>${comment}</td>
			</tr>
			<tr>
				<td>{% trans "Other Results" %}:</td>
				<td>${resultscomment}</td>
			</tr>
			<tr>
				<td>{% trans "Status" %}</td>
				<td>
					<span class="done-${done} seen-${seen} marked-${marked} all-false">-</span>
					<span class="done-${done}">{% trans "Done" %}</span><span class="done-${done} seen-${seen}">, </span>
					<span class="seen-${seen}">{% trans "Seen" %}</span><span class="seen-${seen} marked-${marked}">, </span><span class="done-${done} seen-${seen} marked-${marked} all">, </span>
					<span class="marked-${marked}">{% trans "Marked" %}</span>
				</td>
			</tr>
		</table>
		<a href="/sample/${id}" class="btn btn-default" target="_blank">{% trans "Open sample in new Window" %}</a>
	</script>
{% endblock %}

{% block content %}
	<table class="patientinfo">
		<tbody>
			<tr>
				<td>{% trans "Name of patient" %}
					<input type="hidden" name="patientId" value="{{patient.id}}"/>
				</td>
				<td>{{patient.name}}</td>
			</tr>
			<tr>
				<td>{% trans "Birthdate" %}</td>
				<td>{% if patient.birthdate %}{{patient.birthdate|date(config.get('general.dateformat.text'))}}{% endif %}</td>
			</tr>
		</tbody>
	</table>
	<p>&nbsp;</p>
	<div class="patientactions">
		<a href="/patient/{{patient.id}}/edit" type="button" class="btn btn-default">{% trans "Edit patient" %}</a>
		<a href="/patient/{{patient.id}}/sample/new" type="button" class="btn btn-default">{% trans "Create new sample" %}</a>
	</div>
	<p>&nbsp;</p>
	<h2 class="float">{% trans "List of samples" %}</h2>
	<div class="float-right">
		<div class="btn-group dropdown">
		  <button type="button" onclick="gotoDatasheet('pdf')" class="btn btn-default icon-button" title="{% trans "Show datasheet PDF" %}"><img class="svg" src="images/file-formats-icons/pdf19.svg"></button> 
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu dropdown-menu-right" role="menu">
		    <li><a onclick="gotoDatasheet('pdf')"><img class="svg" src="images/file-formats-icons/pdf19.svg"><strong>{% trans "Datasheet PDF" %}</strong></a></li>
		    <li><a onclick="gotoDatasheet('html')"><img class="svg" src="images/basic-ui/left225.svg">{% trans "Datasheet" %}</a></li>
		    <li class="divider"></li>
		    <li><a data-toggle="modal" data-target="#selectDoc">{% trans "Select doctor" %}</a></li>
		  </ul>
		</div>
	</div>
	<table class="samples solidtr clear">
		<thead>
			<tr>
				<th width="65px">{% trans "Status" %}</th>
				<th>{% trans "Date" %}</th>
				<th>{% trans "Comment" %}</th>
				<th width="175px">{% trans "Actions" %}</th>
			</tr>
		</thead>
		<tbody>
	{% for sample in patient.samples %}
			<tr class="sample" data-id="{{sample.id}}">
				<td><input type="checkbox" class="selectionbox" checked="checked" readonly="true" />
					{% if sample.marked %}
						<img class="svg listicon" src="images/basic-ui/bookmark49.svg">
					{% elseif sample.date is empty %}
						<img class="svg listicon" src="images/basic-ui/basic17.svg">
					{% elseif sample.done==false %}
						<span class="listicon">–</span>
					{% elseif sample.seen==false %}
						<img class="svg listicon" src="images/basic-ui/eye106.svg">
					{% elseif sample.seen==true %}
						<img class="svg listicon" src="images/basic-ui/basic14.svg">
					{% else %}
						<span class="listicon">?</span>
					{% endif %}
				</td>
				<td>{% if sample.date %}{{sample.date|date(config.get('general.dateformat.list'))}}{% endif %}</td>
				<td>{{ sample.comment|length > config.get('general.textpreviewlength') ? sample.comment|slice(0,  config.get('general.textpreviewlength')) ~ '...' : sample.comment  }}</td>
				<td>
					<a href="/sample/{{sample.id}}" class="icon-button btn btn-default" title="{% trans "Show sample" %}">
						<img class="svg" src="images/medical-icons/medical50.svg">
					</a>
					<a href="/sample/{{sample.id}}/edit/tests" class="icon-button btn btn-default" title="{% trans "Edit sample tests" %}">
						<img class="svg edit" src="images/basic-ui/clasic.svg">
					</a>
					<a href="/sample/{{sample.id}}/edit/date" class="icon-button btn btn-default" title="{% trans "Edit sample date" %}">
						<img class="svg edit" src="images/lodgicons/calendar70.svg">
					</a>
					<a href="/sample/{{sample.id}}/edit/results" class="icon-button btn btn-default" title="{% trans "Edit sample results" %}">
						<img class="svg edit" src="images/medical-icons/chemistry10.svg">
					</a>
					<button class="icon-button btn btn-default" title="{% trans "Delete sample" %}" onclick="openDeleteConfirm('{{sample.id}}');">
						<img class="svg delete" src="images/basic-ui/delete85.svg">
					</button>
				</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block modals %}
<div class="modal" tabindex="-1" role="dialog" id="deleteConfirmPopup">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{% trans "Are you sure?" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "Do you really want to delete the following Sample with all it's saved test data?" %}</p>
				<hr>
				<div id="deleteItemDetails"></div>
			</div>
			<div class="modal-footer">
				<button id="deleteSampleConfirmButton" type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteSample()" data-sampleid="">{% trans "Confirm Delete" %}</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Abort" %}</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="deleteFailedPopup">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{% trans "Something went wrong!" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "Something went wrong when deleting the sample" %}</p>
			</div>
			<div class="modal-footer">
				<a href="/patient/{{patient.id}}" type="button" class="btn btn-primary">{% trans "Reload" %}</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="selectDoc">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Doctor Who? / Which address should be used?" %}</h4>
			</div>
			<div class="modal-body">
				<div class="col-md-6">
					<select class="docaddrSelect" onchange="selectDoctor(false)">
						{% for address in addresses %}
							<option value="{{loop.index0}}" data-address="{{address.text}}" {% if usingDoctor == loop.index0 %}selected="selected"{% endif %}>{{address.doctor}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-md-6">
					<div id="docAddressPrev" data-value-unchanged="{{addresses[usingDoctor].text}}">{{addresses[usingDoctor].text|nl2br}}</div>
			</div>
			<div class="clear"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="revertToSavedDoc();" data-dismiss="modal">{% trans "Close" %}</button>
				<button type="button" class="btn btn-primary" onclick="selectDoctor(true);" data-dismiss="modal">{% trans "Save" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}