{# Copyright (c) 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
{% extends 'layout.twig' %}
{% block page_title %}{% trans "Edit date" %}{% endblock %}

{% block scripts %}
	<script src="js/sampleDateSave.js"></script>
	<script type="text/javascript">
		window.history.replaceState(null, null, window.location.pathname);
	</script>
{% endblock %}

{% block content %}
	{% set patient = sample.patient %}
	<table class="patientinfo float">
		<input name="patientId" type="hidden" value="{{patient.id}}" />
		<tbody>
			<tr>
				<td>{% trans "Name of patient" %}</td>
				<td>{{patient.name}}</td>
			</tr>
			<tr>
				<td>{% trans "Birthdate" %}</td>
				<td>{% if patient.birthdate %}{{patient.birthdate|date(config.get('general.dateformat.text'))}}{% endif %}</td>
			</tr>
		</tbody>
	</table>
	<div class="float clearfix">
		<a href="/patient/{{patient.id}}" type="button" class="btn btn-default">{% trans "Go to patient page" %}</a>
	</div>
	<hr class="clear">
	<div class="row">
		<div class="col-md-12">
			<input name="sampleId" type="hidden" value="{{sample.id}}" />
			<input name="version" type="hidden" value="{{sample.version}}" />
			{% trans "Date" %}
				<input type="date" name="date" value="{{sample.date|date('Y-m-d')}}" data-value-unchanged="{{sample.date|date('Y-m-d')}}" />
		</div>
	</div>
	<div class="sampleDateActions clear">
		{% if not returnPath %}
			{% set returnPath = "/patient/" ~ patient.id %}
		{% endif %}
		<a href="{{returnPath}}" type="button" class="btn btn-default">{% trans "Abort" %}</a>
		<button id="saveButton" class="btn btn-primary" onclick="sampleDateSave('{{returnPath}}')">{% trans "Save" %}</button>
	</div>
	<div class="clear"></div>
{% endblock %}


{% block modals %}
<div class="modal" tabindex="-1" role="dialog" id="saveFailedPopup">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{% trans "Saving the sample date failed" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "Something went wrong when saving the date" %}</p>
			</div>
			<div class="modal-footer">
				<a href="/sample/{{sample.id}}/edit/date?returnPath={{returnPath}}" type="button" class="btn btn-primary">{% trans "Reload" %}</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}