{# Copyright (c) 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
{% extends 'layout.twig' %}
{% block page_title %}{% if not patient %}{% set patient = sample.patient %}{% endif %}{{patient.name}}{% endblock %}
{% block scripts %}
	<script src="js/libs/math.min.js"></script>
	<script src="js/calculatedBox.js"></script>
	<script src="js/sampleResultsSave.js"></script>
	<script src="js/normalsCheck.js"></script>
	<script type="text/javascript">
		window.history.replaceState(null, null, window.location.pathname);
	</script>
{% endblock %}

{% block content %}
	{% if not patient %}
		{% set patient = sample.patient %}
	{% endif %}
	<table class="patientinfo float">
		<input name="patientId" type="hidden" value="{{patient.id}}" />
		<tbody>
			<tr>
				<td>{% trans "Name of patient" %}</td>
				<td>{{patient.name}}</td>
			</tr>
			<tr>
				<td>{% trans "Birthdate" %}</td>
				<td>{% if patient.birthdate %}{{patient.birthdate|date(config.get('general.dateformat.text'))}}{% endif %}</td>
			</tr>
		</tbody>
	</table>
	<div class="float clearfix">
		<a href="/patient/{{patient.id}}" type="button" class="btn btn-default">{% trans "Go to patient page" %}</a>
	</div>
	<hr class="clear">
	<div class="row">
		<div class="col-md-12">
			<input name="sampleId" type="hidden" value="{{sample.id}}" />
			<input name="version" type="hidden" value="{{sample.version}}" />
			{% trans "Date" %}: {{sample.date|date(config.get('general.dateformat.text'))}}
		</div>
	</div>
	{% set counts = {} %}
	{% set enabled = {} %}
	{% set total = 0 %}
	{% for blockgroup in layout %}
		{% set blockgroupcount = 0 %}
		{% set blockgroupenabled = {} %}
		{% for elementgroup in blockgroup.elements %}
			{% set en = false %}
			{% set break = false %}
			{% for element in elementgroup if not break %}
				{% set testtype = testtypes[element.id] %}
				{% if testtype.type == "group" %}
					{% for groupElement in testtype.contains if not break %}
						{% if sample.getTestByTypeId(groupElement) %}
							{% set en = true %}
							{% set blockgroupcount = blockgroupcount+1 %}
							{% set break=true %}
						{% endif %}
					{% endfor %}
				{% elseif sample.getTestByTypeId(element.id) %}
					{% set en = true %}
					{% set blockgroupcount = blockgroupcount+1 %}
					{% set break=true %}
				{% endif %}
			{% endfor %}
			{% set blockgroupenabled = blockgroupenabled|merge({(loop.index0): en}) %}
		{% endfor %}
		{% set counts = counts|merge({ (loop.index0): blockgroupcount }) %}
		{% set enabled = enabled|merge({ (loop.index0): blockgroupenabled }) %}
		{% set total = total+blockgroupcount %}
	{% endfor %}
	{% set doneGroupElements = [] %}
	<div class="row">
		{% for blockgroup in layout %}
		{% if total*counts[loop.index0] %}
			{% set outercol = ((12/total*counts[loop.index0])|round(0,'floor')) %}
			{% set enabledGroup = enabled[loop.index0] %}
			{% set countsGroup = counts[loop.index0] %}
			{% if countsGroup %}
			<div class="col-md-{{outercol}}">
				<p><strong>{{blockgroup.title}}</strong></p>
				<div class="row">
					{% for elementgroup in blockgroup.elements %}
						{% set innercol = ((12/(countsGroup))|round(0,'floor')) %}
						{% if enabledGroup[loop.index0] %}
						<div class="col-sm-{{innercol}}">
							{% for element in elementgroup %}
								{% set testtype = testtypes[element.id] %}
								{% set test = sample.getTestByTypeId(element.id) %}
									{% if testtype.type == "calculated" %}
										<div class="form-group">
											<label for="{{element.id}}">{{testtype.name}}</label>
											<div {% if testtype.unit %}class="input-group"{% endif %}>
												<input type="text" class="form-control calculated" id="{{element.id}}" data-depends="{{testtype.depends|join(',')}}" data-formula="{{testtype.formula}}" data-round="{{testtype.round}}" readonly="true"
													{% set normals = (testtype.getNormalsFor(patient)|json_encode) %}
													{% set normalstext = (testtype.getNormalsTextFor(patient)) %}
													{% if normals != "[]" %}
														title="{% trans "Normals:" %} {{normalstext}} {{testtype.unit}}" data-normals="{{normals}}"
													{% endif %}
												>
												{% if testtype.unit %}
												<div class="input-group-addon"><small>{{testtype.unit}}</small></div>
												{% endif %}
											</div>
										</div>
									{% elseif testtype.type == "group" %}
										{% for groupElement in testtype.contains %}
											{% if not doneGroupElements[groupElement] %}
												{% set doneGroupElements = doneGroupElements | merge({(groupElement): true}) %}
												{% set testtype = testtypes[groupElement] %}
												{% set test = sample.getTestByTypeId(groupElement) %}
												{% if test %}
													<div class="form-group">
														<label for="{{element.id}}">{%if testtype %}{{testtype.name}}{% else %}{{element.id}}{% endif %}:</label>
														<div {% if testtype.unit %}class="input-group"{% endif %}>
															<input type="text" class="form-control testtype" id="{{groupElement}}"
															{% set normals = (testtype.getNormalsFor(patient)|json_encode) %}
															{% set normalstext = (testtype.getNormalsTextFor(patient)) %}
															{% if normals != "[]" %}
															title="{% trans "Normals:" %} {{normalstext}} {{testtype.unit}}" data-normals="{{normals}}"
															{% endif %}
															data-value-unchanged="{{test.value}}" value="{{test.value}}">
															{% if testtype.unit %}
															<div class="input-group-addon"><small>{{testtype.unit}}</small></div>
															{% endif %}
														</div>
														<input type="hidden" id="{{testtype.id}}_version" value="{{test.version}}" />
													</div>
												{% endif %}
											{% endif %}
										{% endfor %}
									{% elseif test %}
										<div class="form-group">
											<label for="{{element.id}}">{%if testtype %}{{testtype.name}}{% else %}{{element.id}}{% endif %}:</label>
										{% if testtype.canHaveInstructions %}
											<textarea id="{{testtype.id}}_instructions" readonly="true">{{test.instructions}}</textarea>
										{% endif %}
											<div {% if testtype.unit %}class="input-group"{% endif %}>
												<input type="text" class="form-control testtype" id="{{element.id}}"
												{% set normals = (testtype.getNormalsFor(patient)|json_encode) %}
												{% set normalstext = (testtype.getNormalsTextFor(patient)) %}
												{% if normals != "[]" %}
												title="{% trans "Normals:" %} {{normalstext}} {{testtype.unit}}" data-normals="{{normals}}"
												{% endif %}
												data-value-unchanged="{{test.value}}" value="{{test.value}}">
												{% if testtype.unit %}
												<div class="input-group-addon"><small>{{testtype.unit}}</small></div>
												{% endif %}
											</div>
											<input type="hidden" id="{{testtype.id}}_version" value="{{test.version}}" />
										</div>
									{% endif %}
							{% endfor %}
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endif %}
		{% endif %}
		{% endfor %}
	</div>
	{% if sample.comment %}
	<div class="row">
		<div class="col-md-12 clearfix">
			<div class="col-title"><strong>{% trans "Comment" %}</strong></div><br>
			<textarea name="comment" rows="5" data-value-unchanged="{{sample.resultcomment}}" readonly="true">{{sample.comment}}</textarea>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-12 clearfix">
			<div class="col-title"><strong>{% trans "Other Results" %}</strong></div><br>
			<textarea name="resultcomment" rows="5" data-value-unchanged="{{sample.resultcomment}}">{{sample.resultcomment}}</textarea>
		</div>
	</div>
	<hr>
	<div class="sampleResultsActions clear float-right">
		{% if not returnPath %}
			{% set returnPath = "/patient/" ~ patient.id %}
		{% endif %}
		<a href="{{returnPath}}" type="button" class="btn btn-default">{% trans "Abort" %}</a>
		<button id="saveButton" class="btn btn-primary" onclick="sampleResultsSave('{{returnPath}}')">{% trans "Save" %}</button>
		<button id="submitButton" class="btn btn-success" onclick="sampleResultsSubmit('{{returnPath}}', '{% trans "Did not submit results!" %}')">{% trans "Save and Submit" %}</button>
	</div>
	<div class="clear"></div>
{% endblock %}


{% block modals %}
<div class="modal" tabindex="-1" role="dialog" id="saveFailedPopup">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{% trans "Saving the sample info failed" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "Something went wrong when saving the results" %}</p>
			</div>
			<div class="modal-footer">
				<a href="/sample/{{sample.id}}/edit/results?returnPath={{returnPath}}" type="button" class="btn btn-primary">{% trans "Reload" %}</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}