{# Copyright (c) 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
{% extends 'layout.twig' %}
{% block page_title %}
{% if listname == "no-date" %}
	{% trans "No dates" %}
{% elseif listname == "not-done" %}
	{% trans "Not done" %}
{% elseif listname == "not-seen" %}
	{% trans "Not seen" %}
{% elseif listname == "marked" %}
	{% trans "Marked" %}
{% endif %}
{% endblock %}

{% block scripts %}
	<script src="js/sampleTableFilter.js"></script>
	<script type="text/javascript">
		$( document ).ready(function() {
			console.log('trying setting filter');
			if (typeof($.cookie("samples-{{listname}}Filters")) != "undefined") {
				console.log('setting filter');
				var filters = JSON.parse($.cookie("samples-{{listname}}Filters"));
				$('#dateFilter').val(filters['date']);
				$('#patientIdFilter').val(filters['patientId']);
				$('#patientNameFilter').val(filters['patientName']);
				$('#commentFilter').val(filters['comment']);
				filter('samples-{{listname}}');
			}
		});
	</script>
{% endblock %}

{% block content %}
	{% if samples is defined  %}
    {% if samples %}
	<table class="solidtr samples">
		<tbody>
			<tr class="thead">
				{% if listname!="no-date" %}<th>{% trans "Date of sample" %}</th>{% endif %}
				<th>{% trans "Name of patient" %}</th>
				<th>{% trans "Comment" %}</th>
			</tr>
			<tr class="thead">
				{% if listname!="no-date" %}
				<th>
					<input type="text" id="dateFilter" class="filter" onkeyup="filter('samples-{{listname}}')" title="{% trans "Filter date" %}">
				</th>
				{% endif %}
				<th>
					<input type="text" id="patientIdFilter" class="filter float" onkeyup="filter('samples-{{listname}}')" title="{% trans "Filter patient number" %}">
					<input type="text" id="patientNameFilter" class="filter" onkeyup="filter('samples-{{listname}}')" title="{% trans "Filter name of patient" %}">
				</th>
				<th>
					<input type="text" id="commentFilter" class="filter" onkeyup="filter('samples-{{listname}}')" title="{% trans "Filter comments" %}">
				</th>
			</tr>
    {% for sample in samples %}
			<tr class="sample" onclick="window.location.href='/sample/{{sample.id}}{{defaultAction}}?returnPath={{ "/sample/list/" ~ listname | url_encode }}';">
				{% if listname!="no-date" %}
				<td class="date">{% if sample.date %}{{sample.date|date(config.get('general.dateformat.list'))}}{% endif %}</td>
				{% endif %}
				<td class="patient patientID_{{sample.patient.id}}" title="{% trans "Patient ID" %}: {{sample.patient.id}}">{{sample.patient.name}}</td>
				<td class="comment">{{ sample.comment|length > config.get('general.textpreviewlength') ? sample.comment|slice(0,  config.get('general.textpreviewlength')) ~ '...' : sample.comment  }}</td>
			</tr>
    {% endfor %}
		</tbody>
	</table>
	{% endif %}
	{% endif %}
{% endblock %}