{# Copyright (c) 2018 Rolf Michael Bislin. Licensed under the MIT license (see LICENSE.txt). #}
{% extends 'layout.twig' %}
{% block page_title %}{% if sample %}{% trans "Edit sample" %}{% else %}{% trans "Create new sample" %}{% endif %}{% endblock %}

{% block scripts %}
	<script src="js/customCheckbox.js"></script>
	<script src="js/sampleTestsSave.js"></script>
	<script src="js/sampleTestsPointsCalc.js"></script>
	<script type="text/javascript">
		window.history.replaceState(null, null, window.location.pathname);
	</script>
{% endblock %}

{% block content %}
	{% if not patient %}
		{% set patient = sample.patient %}
	{% endif %}
	<table class="patientinfo float">
		<input name="patientId" type="hidden" value="{{patient.id}}" />
		<tbody>
			<tr>
				<td>{% trans "Name of patient" %}</td>
				<td>{{patient.name}}</td>
			</tr>
			<tr>
				<td>{% trans "Birthdate" %}</td>
				<td>{% if patient.birthdate %}{{patient.birthdate|date(config.get('general.dateformat.text'))}}{% endif %}</td>
			</tr>
		</tbody>
	</table>
	<div class="float clearfix">
		<a href="/patient/{{patient.id}}" type="button" class="btn btn-default">{% trans "Go to patient page" %}</a>
	</div>
	<hr class="clear">
	{% if sample.hasValues %}
	<script type="text/javascript">
    	$(window).on('load',function(){
    	    $('#testHaveValuesPopup').modal();
    	});
	</script>
	{% endif %}
	<div class="row">
		<div class="col-md-12">
			<input name="sampleId" type="hidden" value="{{sample.id}}" />
			<input name="version" type="hidden" value="{{sample.version}}" />
			{% trans "Date" %}
				<input type="date" name="date" value="{{time|date('Y-m-d')}}" />
		</div>
	</div>
	{% set counts = {} %}
	{% set total = 0 %}
	{% for blockgroup in layout %}
		{% set counts = counts|merge({ (loop.index0): (blockgroup.elements|length) }) %}
		{% set total = total+(blockgroup.elements|length) %}
	{% endfor %}
	<div class="row">
		{% for blockgroup in layout %}
			{% set outercol = ((12/total*counts[loop.index0])|round(0,'floor')) %}
			<div class="col-md-{{outercol}}">
				<p><strong>{{blockgroup.title}}</strong></p>
				<div class="row">
					{% for elementgroup in blockgroup.elements %}
						{% set innercol = ((12/(blockgroup.elements|length))|round(0,'floor')) %}
						<div class="col-sm-{{innercol}}">
							{% for element in elementgroup %}
								{% set testtype = testtypes[element.id] %}
								{% set test = sample.getTestByTypeId(element.id) %}
								{% if element.type and (element.type == "groupToggle" or element.type == "spacer") %}
									{% if element.type == "groupToggle" %}
										<div class="checkbox specialCheckbox"><input type="checkbox" id="{{element.id}}"
											{% if element.disables %} data-disables="{{element.disables|join(',')}}"{% endif %}
											{% if element.sets %} data-sets="{{element.sets|join(',')}}"{% endif %}/>{{element.name}}</div>
									{% else %}
										<div>&nbsp;</div>
									{% endif %}
								{% else %}
									{% if testtype.type == "calculated" %}
										{% if  not element.hideCheckbox or element.hideCheckbox==false %}
										<div class="checkbox calculatedCheckbox"><input type="checkbox" id="{{element.id}}" data-depends="{{testtype.depends|join(',')}}" data-sets="{{testtype.depends|join(',')}}" />{{testtype.name}}</div>
										{% endif %}
									{% else %}
											{% if testtype.canHaveInstructions %}
												{{testtype.name}}:<br/>
												<textarea id="{{testtype.id}}" {% if testtype %}class="testtype"{% endif %} data-value-unchanged="{{test.instructions}}">{{test.instructions}}</textarea>
												<input type="hidden" id="{{testtype.id}}_version" value="{{test.version}}" />
											{% else %}
												{% set checkboxEnabled = test != null %}
												{% if sample and testtype.type == "group" %}
													{% set checkboxEnabled = testtype.isEnabledIn(sample) %}
												{% endif %}
												<div class="checkbox{% if element.disables %} specialCheckbox{% endif %}{% if checkboxEnabled %} checked{%endif%}">
													<input type="checkbox" id="{{element.id}}" {% if testtype %}class="testtype"{% endif %} 
													{% if element.disables %}data-disables="{{element.disables|join(',')}}"{% endif %}
													{% if checkboxEnabled %}checked="checked" data-value-unchanged="true"{%else%}data-value-unchanged="false"{% endif %}
													{% if testtype.pointsSupplement %} data-points-supplement="{{testtype.pointsSupplement}}"{% endif %}
													{% if testtype.pointsAnalyse %} data-points-analyse="{{testtype.pointsAnalyse}}"{% endif %}
													{% if testtype.type == "group" and element.disables %}data-skip-delete-if="{{element.disables|join(',')}}"{% endif%}
													/>{%if testtype %}{{testtype.name}}{% else %}{{element.id}}{% endif %}</div>
											{% endif%}
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-12 clearfix">
			<div class="col-title"><strong>{% trans "Comment" %}</strong></div><br>
			<textarea name="comment" rows="5" data-value-unchanged="{{sample.comment}}">{{sample.comment}}</textarea>
		</div>
	</div>
	<hr class="clear">
	<table style="width:100%;">
		<tbody>
			<tr>
				<td>{% trans "Points supplement" %}</td>
				<td id="pointsSupplement">0</td>
				<td>{% trans "Points analyse" %}</td>
				<td id="pointsAnalyse">0</td>
				<td>{% trans "Total" %}</td>
				<td id="pointsTotal">0.0</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<div class="sampleTestsActions clear float-right">
		<div class="checkbox checked" id="deactivateblocker"><input type="checkbox" name="deactivateblocker" value="1" onclick="recalc()" checked="checked">{% trans "Disable Blocker" %}</div>
		{% if not returnPath %}
			{% set returnPath = "/patient/" ~ patient.id %}
		{% endif %}
		<a href="{{returnPath}}" type="button" class="btn btn-default">{% trans "Abort" %}</a>
		<button id="saveButton" class="btn btn-success" onclick="sampleTestsSave('{{returnPath}}')">{% trans "Save" %}</button>
	</div>
	<div class="clear"></div>
{% endblock %}


{% block modals %}
<div class="modal" tabindex="-1" role="dialog" id="saveFailedPopup">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{% trans "Saving the sample info failed" %}</h4>
			</div>
			<div class="modal-body">
				<p>{% trans "Something went wrong when saving the sample info" %}</p>
			</div>
			<div class="modal-footer">
				<a href="/sample/{{sample.id}}/edit/tests?returnPath={{returnPath}}" type="button" class="btn btn-primary">{% trans "Reload" %}</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="testHaveValuesPopup">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{% trans "Warning" %}</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger">{% trans "One or multiple tests are already done. Changing the test tasks can lead to dataloss!" %}</div>
			</div>
			<div class="modal-footer">
				{% if not patient %}
					{% set patient = sample.patient %}
				{% endif %}
				{% if not returnPath %}
					{% set returnPath = "/patient/" ~ patient.id %}
				{% endif %}
				<a href="{{returnPath}}" type="button" class="btn btn-default">{% trans "Abort" %}</a>
				<button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Edit regardless" %}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}